.kraepelin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
}

.kraepelin-inputs {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    background: #111;
    justify-content: space-between;
}

.kraepelin-input {
    width: 30%;
    height: 60px;
}

.kraepelin-numbers {
    display: flex;
    flex-direction: column;
    background: #111;
    transition: 0.4s
}

.kraepelin-numbers li {
    color: aliceblue;
    width: 100px;
    min-height: 90px;
    position: relative;
    margin: 0;
    border: 1px greenyellow;
    transition: 0.6s;
}

.container {
    height: 300px;
    overflow: hidden;
    transition: 1s;
}
