@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-main: #121212;
        --color-bg-1: #212121;
        --color-bg-2: #303030;
        --color-bg-3: #424242;
        --color-text-main: #fff;
        --color-text-secondary: rgba(255, 255, 255, 0.699);
        --color-text-dim: rgba(255, 255, 255, 0.5);
        --color-accent: greenyellow;
        --color-primary: #BB86FC;
        --color-secondary: #03DAC5;

    }
}

html[color-scheme='light'] {
    --color-bg-main: #fff;
    --color-bg-1: #ebebeb;
    --color-bg-2: #c9c9c9;
    --color-bg-3: #b8b8b8;
    --color-text-main: rgb(0, 0, 0);
    --color-text-secondary: rgba(0, 0, 0, 0.699);
    --color-text-dim: rgba(0, 0, 0, 0.5);
    --color-accent: greenyellow;
    --color-primary: #BB86FC;
    --color-secondary: #03DAC5;
}

body {
    color: var(--color-text-main);
    margin: 0;
    font-family: 'Sawarabi Mincho';
    background: var(--color-bg-main);
    transition: 0.5s;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

button, a, input {
    color: var(--color-text-main);
    font-size: x-large;
    border: none;
    transition: 0.5s;
    background: none;
    border-radius: 10px;
}

.kraepelin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.kraepelin-inputs {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    border-radius: 25px;
}

.kraepelin-input {
    width: 33%;
    height: 70px;
}

.kraepelin-input:active {
    background: var(--color-bg-3);
}

.kraepelin-numbers {
    padding-top: 108px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    justify-content: center;
}

.kraepelin-numbers li {
    font-size: x-large;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0;
    transition: 0.6s;
    list-style: none;
    text-align: center;
}

.kraepelin-numbers li p {
    color: var(--color-text-secondary);
}

.container {
    height: 350px;
    overflow: hidden;
    transition: 1s;
    position: relative;
    border-right: 2px solid var(--color-bg-1);
    border-left: 2px solid var(--color-bg-1);

}

.answer-line {
    position: absolute;
    border-top: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.flash, button:active {
    background: var(--color-bg-3);
    transition: 0s;
}

button:hover {
    background: var(--color-bg-2);
    color: var(--color-secondary);
    cursor: pointer;
}

:disabled {
    color: var(--color-text-dim);
}

.theme-toggler {
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 1rem;
    background: var(--color-bg-3);
    border-radius: 1em;
    transition: 0.3s;
    cursor: pointer;
    transform: translate(-20px, 20px);
}

.theme-toggler::before {
    content: "";
    height: 100%;
    width: 50%;
    background: var(--color-bg-1);
    border-radius: 50%;
    position: absolute;
    transition: 0.3s ease;
}

.theme-toggler:checked::before {
    transform: translateX(100%);
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    height: 50%;
    width: 300px;
    place-self: center;
}

.setup-inputs {
    display: flex;
    justify-content: space-around;
    
}

.setup-inputs input {
    width: 60%;
    text-align: center;
}