.kraepelin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
}

.kraepelin-inputs {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    background: #111;
    justify-content: space-between;
}

.kraepelin-input {
    width: 30%;
    height: 60px;
}

.kraepelin-numbers {
    width: 300px;                  
    height: 300px;
}

.kraepelin-numbers * {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0;
    border: 1px black;
}

.top-left {
    top: 0;
    left: 0;
}

.top-mid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    top: 100%;
    right: 0%;
}

.mid-left {
    top: 50%;
    left: 0;
    transform: translateY(50%);
}

.mid-mid {
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.mid-right {
    top: 50%;
    right: 0;
    transform: translateY(50%);
}

.bot-left {
    bottom: 0;
    left: 0;
}

.bot-mid {
    bottom: 0;
    left: 50%;
    transform: translateX(50%);
}

.bot-right {
    bottom: 0;
    right: 0;
}